# 0.1 Imports

In [31]:
import pandas as pd
import numpy  as np

## 0.1.1 Supress Scientific Notation

In [32]:
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## 0.1.2 Change OS Path

In [33]:
#import os
#os.chdir('../')

# 0.2 Import Data_Set

In [34]:
data_set = pd.read_csv("./data_set/kc_house_data.csv")
data_set.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503

# 0.3 Entendimento Geral do data_set

In [35]:
data_set.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [36]:
data_set.shape

(21613, 21)

In [37]:
data_set.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00,21613.00
mean,4580301520.86,540088.14,3.37,2.11,2079.90,15106.97,1.49,0.01,0.23,3.41,7.66,1788.39,291.51,1971.01,84.40,98077.94,47.56,-122.21,1986.55,12768.46
std,2876565571.31,367127.20,0.93,0.77,918.44,41420.51,0.54,0.09,0.77,0.65,1.18,828.09,442.58,29.37,401.68,53.51,0.14,0.14,685.39,27304.18
min,1000102.00,75000.00,0.00,0.00,290.00,520.00,1.00,0.00,0.00,1.00,1.00,290.00,0.00,1900.00,0.00,98001.00,47.16,-122.52,399.00,651.00
25%,2123049194.00,321950.00,3.00,1.75,1427.00,5040.00,1.00,0.00,0.00,3.00,7.00,1190.00,0.00,1951.00,0.00,98033.00,47.47,-122.33,1490.00,5100.00
50%,3904930410.00,450000.00,3.00,2.25,1910.00,7618.00,1.50,0.00,0.00,3.00,7.00,1560.00,0.00,1975.00,0.00,98065.00,47.57,-122.23,1840.00,7620.00
75%,7308900445.00,645000.00,4.00,2.50,2550.00,10688.00,2.00,0.00,0.00,4.00,8.00,2210.00,560.00,1997.00,0.00,98118.00,47.68,-122.12,2360.00,10083.00
max,9900000190.00,7700000.00,33.00,8.00,13540.00,1651359.00,3.50,1.00,4.00,5.00,13.00,9410.00,4820.00,2015.00,2015.00,98199.00,47.78,-121.31,6210.00,871200.00

In [38]:
data_set.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [39]:
data_set.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [40]:
len(data_set['id'].unique())

21436

## 0.3.1 Proposição de Mudanças

Observo que não há NA ou NULL no data_set.
1. Modificar as colunas para Português.
2. Modificar a coluna 2 (Data) para tipo data %Y-%M-%D
3. Modificar a coluna "waterfront" para string.
4. Modificar as colunas "sqft" de int para float.
5. Verificar se os ID duplicados fazem parte do fenômeno ou foi algum tipo de erro.
6. Verificar a necessidade dessas duas colunas "sqft_living15" "sqft_lot15", caso desnecessáio para esta análise, descartar.
7. Verificar a necessidade de mudança de pés quadrados "sqft" para m² "m2".
8. Verificar o imóvel com 33 "bedrooms" se realmente há possibilidade de haver 33 quartos ou se pode ser um erro/outlier.
   1. Comparar as casas com um ranged de 10% maior ou 10% menor de m², verificar quantos quartos tem essas casa.

In [41]:
# Modificações realizadas:

data_set['date'] = pd.to_datetime(data_set['date'])

data_set.drop(columns=['sqft_living15','sqft_lot15'], inplace=True)

data_set.loc[data_set['bedrooms'] == 33, 'bedrooms'] = 3

data_set['sqft_living'] = data_set['sqft_living'].astype(float)
data_set['sqft_lot'] = data_set['sqft_lot'].astype(float)
data_set['sqft_above'] = data_set['sqft_above'].astype(float)
data_set['sqft_basement'] = data_set['sqft_basement'].astype(float)

In [42]:
data_set['sqft_living'] = data_set['sqft_living'].apply(lambda x: x*0.09290304)
data_set['sqft_lot'] = data_set['sqft_lot'].apply(lambda x: x*0.09290304)
data_set['sqft_basement'] = data_set['sqft_basement'].apply(lambda x: x*0.09290304)
data_set['sqft_above'] = data_set['sqft_above'].apply(lambda x: x*0.09290304)

In [43]:
data_set.rename(columns = {'id': 'id', 'date': 'data_venda', 'price':'preco', 'bedrooms':'quartos', 'bathrooms':'banheiros',
                          'sqft_living': 'm2_construido_total','sqft_lot':'m2_terreno_total', 'floors':'andares', 'waterfront':'vista_agua',
                          'view':'vista_geral', 'condition':'condicao', 'grade':'nivel_construcao','sqft_above':'m2_construidos_chao',
                          'sqft_basement':'m2_porao', 'yr_built':'ano_construído', 'yr_renovated':'ano_reformado', 'zipcode':'cep',
                          'lat':'latitude', 'long':'longitude'}, inplace=True)
data_set

,id,data_venda,preco,quartos,banheiros,m2_construido_total,m2_terreno_total,andares,vista_agua,vista_geral,condicao,nivel_construcao,m2_construidos_chao,m2_porao,ano_construído,ano_reformado,cep,latitude,longitude
0,7129300520,2014-10-13,221900.00,3,1.00,109.63,524.90,1.00,0,0,3,7,109.63,0.00,1955,0,98178,47.51,-122.26
1,6414100192,2014-12-09,538000.00,3,2.25,238.76,672.80,2.00,0,0,3,7,201.60,37.16,1951,1991,98125,47.72,-122.32
2,5631500400,2015-02-25,180000.00,2,1.00,71.54,929.03,1.00,0,0,3,6,71.54,0.00,1933,0,98028,47.74,-122.23
3,2487200875,2014-12-09,604000.00,4,3.00,182.09,464.52,1.00,0,0,5,7,97.55,84.54,1965,0,98136,47.52,-122.39
4,1954400510,2015-02-18,510000.00,3,2.00,156.08,750.66,1.00,0,0,3,8,156.08,0.00,1987,0,98074,47.62,-122.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.00,3,2.50,142.14,105.07,3.00,0,0,3,8,142.14,0.00,2009,0,98103,47.70,-122.35
21609,6600060120,2015-02-23,400000.00,4,2.50,214.61,540.05,2.00,0,0,3,8,214.61,0.00,2014,0,98146,47.51,-122.36
21610,1523300141,2014-06-23,402101.00,2,0.75,94.76,125.42,2.00,0,0,3,7,94.76,0.00,2009,0,98144,47.59,-122.30
21611,291310100,2015-01-16,400000.00,3,2.50,148.64,221.85,2.00,0,0,3,8,148.64,0.00,2004,0,98027,47.53,-122.07
21612,1523300157,2014-10-15,325000.00,2,0.75,94.76,99.96,2.00,0,0,3,7,94.76,0.00,2008,0,98144,47.59,-122.30

In [44]:
data_set.loc[data_set['id'].duplicated(keep= False) == True].sort_values(['id','data_venda']).head(20)

,id,data_venda,preco,quartos,banheiros,m2_construido_total,m2_terreno_total,andares,vista_agua,vista_geral,condicao,nivel_construcao,m2_construidos_chao,m2_porao,ano_construído,ano_reformado,cep,latitude,longitude
2496,1000102,2014-09-16,280000.00,6,3.00,222.97,870.78,2.00,0,0,3,7,222.97,0.00,1991,0,98002,47.33,-122.21
2497,1000102,2015-04-22,300000.00,6,3.00,222.97,870.78,2.00,0,0,3,7,222.97,0.00,1991,0,98002,47.33,-122.21
16814,7200179,2014-10-16,150000.00,2,1.00,78.04,1184.51,1.00,0,0,3,6,78.04,0.00,1925,0,98055,47.48,-122.21
16815,7200179,2015-04-24,175000.00,2,1.00,78.04,1184.51,1.00,0,0,3,6,78.04,0.00,1925,0,98055,47.48,-122.21
11433,109200390,2014-08-20,245000.00,3,1.75,137.50,362.32,1.00,0,0,4,7,137.50,0.00,1980,0,98023,47.30,-122.37
11434,109200390,2014-10-20,250000.00,3,1.75,137.50,362.32,1.00,0,0,4,7,137.50,0.00,1980,0,98023,47.30,-122.37
12417,123039336,2014-06-11,148000.00,1,1.00,57.60,767.47,1.00,0,0,3,5,57.60,0.00,1939,0,98106,47.51,-122.36
12418,123039336,2014-12-08,244900.00,1,1.00,57.60,767.47,1.00,0,0,3,5,57.60,0.00,1939,0,98106,47.51,-122.36
7792,251300110,2014-07-31,225000.00,3,2.25,233.19,1116.04,2.00,0,0,3,8,233.19,0.00,1988,0,98003,47.35,-122.31
7793,251300110,2015-01-14,358000.00,3,2.25,233.19,1116.04,2.00,0,0,3,8,233.19,0.00,1988,0,98003,47.35,-122.31
9234,302000375,2014-08-14,169100.00,3,2.00,97.55,1700.50,1.00,0,0,4,7,97.55,0.00,1953,0,98001,47.32,-122.27
9235,302000375,2015-05-06,250000.00,3,2.00,97.55,1700.50,1.00,0,0,4,7,97.55,0.00,1953,0,98001,47.32,-122.27
14855,324000530,2014-07-08,201500.00,3,1.00,122.63,464.52,1.50,0,0,3,7,122.63,0.00,1912,0,98116,47.57,-122.39
14856,324000530,2015-03-23,459000.00,3,1.00,122.63,464.52,1.50,0,0,3,7,122.63,0.00,1912,0,98116,47.57,-122.39
7178,526059224,2014-09-23,260000.00,4,1.75,153.29,675.96,1.00,0,0,3,7,93.83,59.46,1977,0,98011,47.77,-122.21
7179,526059224,2015-02-06,470000.00,4,1.75,153.29,675.96,1.00,0,0,3,7,93.83,59.46,1977,0,98011,47.77,-122.21
17381,641900050,2014-08-19,335000.00,4,2.25,200.67,819.13,1.00,0,0,3,7,135.64,65.03,1965,0,98133,47.76,-122.36
17382,641900050,2015-02-06,499950.00,4,2.25,200.67,819.13,1.00,0,0,3,7,135.64,65.03,1965,0,98133,47.76,-122.36
19552,643300040,2014-11-04,481000.00,4,1.75,178.37,882.58,1.00,0,0,4,7,136.57,41.81,1966,0,98006,47.57,-122.18
19553,643300040,2015-03-13,719521.00,4,1.75,178.37,882.58,1.00,0,0,4,7,136.57,41.81,1966,0,98006,47.57,-122.18

In [45]:
# Checagem se a data de venda é igual.
# Há uma possibilidade da empresa ter comprado e vendido a mesma casa mais de 1 vez na amostragem. (Atribuir Premissa)
id_duplicado = data_set.loc[(data_set['id'].duplicated(keep= False) == True)].sort_values('id')
print(id_duplicado.loc[id_duplicado['data_venda'].duplicated(keep=False) == id_duplicado['data_venda']].sort_values('id'))
print(id_duplicado.loc[id_duplicado['preco'].duplicated(keep=False) == id_duplicado['preco']].sort_values('id'))

Empty DataFrame
Columns: [id, data_venda, preco, quartos, banheiros, m2_construido_total, m2_terreno_total, andares, vista_agua, vista_geral, condicao, nivel_construcao, m2_construidos_chao, m2_porao, ano_construído, ano_reformado, cep, latitude, longitude]
Index: []
Empty DataFrame
Columns: [id, data_venda, preco, quartos, banheiros, m2_construido_total, m2_terreno_total, andares, vista_agua, vista_geral, condicao, nivel_construcao, m2_construidos_chao, m2_porao, ano_construído, ano_reformado, cep, latitude, longitude]
Index: []

# Conclusão

Das alterações iniciais propostas, somente a mudança de waterfront que não foi aceita.